@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = null;

    var role = Context.Session.GetString("Role");

    @model List<CEC_website.Models.PostEntry>
   
  
}

<!DOCTYPE html>

        <html>


              <head>
                  <meta charset="utf-8" />
                  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
              
                  <title>@ViewData["Title"] CEC Announcements-Create</title>
              
                  <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
                  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
                  <link rel="stylesheet" href="~/CEC_website.styles.css" asp-append-version="true" />
                  <link rel="icon" href="~/Icon/Cebu_Eastern_College_Logo.png" asp-append-version="true" />
              </head>
              
              <body>

                  <header>

                      <nav>

                          <div class="dashboard-navbar">
              
                              <div class="dashboard-buttons">
              
                                  <a class="logout-btn" asp-area="" asp-controller="Dashboard" asp-action="Logout">Logout</a>
              
                                  @if (role == "Admin")
                                  {
                                      <a class="logout-btn" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashbaord</a>
              
                                  }
              
                              </div>
              
                              <h1 class="dashboard-name">CEBU EASTERN COLLEGE ANNOUNCEMENTS</h1>
              
                          </div>

                      </nav>

                  </header>
              
              
                  <main class="content">

                                   
              
                         <div class="create-container">

                                   @if (ViewBag.Error != null)
                                   {
                                       <p class="error-message">@ViewBag.Error</p>
                                   }

                                   <form asp-action="Create" method="post" enctype="multipart/form-data">

                                       <label>Title:</label>
                                       <input type="text" name="Title" class="create-input" />

                                       <label>Content:</label>
                                       <textarea name="Content" class="create-textarea"></textarea>

                                       <input type="file" name="image" class="create-file" />

                                       <button type="submit" class="create-btn">Post Announcement</button>

                                    </form>
                         </div>
                       
              
                      
                  </main>
              
              
                  <script src="~/lib/jquery/dist/jquery.min.js"></script>
                  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                  <script src="~/js/site.js" asp-append-version="true"></script>
              
              </body>
              


</html>